.bimg{
background-image: url('/src/images/Banner.jpg');
    background-position: bottom;
    height: 800px;
  background-size: cover;
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center;

    
}
/* .specs{
    height: 50vh;
    margin-top: 0.5rem;
    justify-content: flex-end;

} */
.homi{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.home1{
    display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
  .ctn{
    padding: 0px 50px;
    background-color: #55acee;
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .home_trial{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      color: orangered;
      font-weight: 900;
      font-size: small;

  }
  .its_an{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      color: orangered;
      font-size: xx-large;
      font-weight: 900;
      
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mydetails{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .myprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slateblue;
    height: 100%;
    width: 100%;
    }
    .pdetails{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: slateblue;
    }
    .also{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: slateblue;
    }
  
  