/* ///header */
ul{
    list-style: none;
}
  a{
    text-decoration: none;

  }
  .navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding:  20px;
    background-color:#fff;
    color: rgb(88, 24, 88);

  }
  .nav-links{
    display: flex;
    align-items: center;
  }
  .nav-links li{
    margin: 0px 30px;
    font-weight: 700;
  }
  .logo{
    margin-right: 50%;
   height: 100%;
    background: red;
  }