/* ///header */
ul{
    list-style: none;
  
  }
  
  .navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
  
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    color: #bb0000;
  }
  
  .nav-links li{
    margin: 0px 30px;
    background-color: black;
  }